/**
 * Live Event Page Template CSS
 *
 * @package      Starter for Genesis
 * @since        0.1
 * @link         http://www.superfastbusiness.com
 * @author       SuperFastBusiness <www.superfastbusiness.com>
 * @copyright    Copyright (c) 2014, SuperFastBusiness
 * @license      http://opensource.org/licenses/gpl-2.0.php GNU Public License
 *
 */

/** Main CSS
----------------------------------------------------------------------------- */
.live-event {
	text-align: center;
}

.live-event .site-header {
	border-color: #00b7eb;
}

.live-event .headline {
	font-size: 40px;
	text-transform: uppercase;
}

.live-event .subheadline {
	font-size: 16px;
	line-height: 1.625;
	max-width: 684px;
	margin: 0 auto 24px;
}

.live-event .more-link {
	background-color: #ea524e;
	color: #fff;
	display: block;
	font-size: 22px;
	font-weight: 700;
	padding: 22px;
	line-height: 1;
	margin: 24px auto 0;
	text-transform: uppercase;
	width: 340px;
}

.live-event .wrap {
	max-width: 1056px;
	margin: 0 auto;
}

.live-event .wrap {
	overflow: hidden;
	clear: both;
	/*margin-top: 80px;
	margin-bottom: 80px;*/
	/*padding: 100px 0;*/
}

.live-event .addmargin {
	/*padding: 80px 0;*/
}

.live-event .site-header .wrap {
	margin-top: 0 !important;
	margin-bottom: 0;
	padding: 0;
}

.site-inner .wrap {
	/*padding: 120px 0;*/
}

.live-event .site-inner {
	border-top: 1px solid #eceef1;
	padding: 40px 0;
}

.live-event .site-footer {
	background-color: #000;
}

/** Live Event Navigation */

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.live-event .nav-header {

}

.nav-header ul {
	width: 100%;
	text-align: right;
	list-style: none;
}

.nav-header li {
	float: left;
	display: inline-block;
}

.nav-header a {
	display: block;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	padding: 0 18px;
	font-size: 14px;
	text-align: center;
}

.nav-header .current a {
	color: #00b7eb;
}

.nav-header .hidden {
	display: none;
}

.nav-header .icon {
	width: 50px;
	height: 50px;
	display: block;
	background: url(images/icons.png) no-repeat 0 0 transparent;
	margin: 5px auto;
}

.icon-schedule .icon {
	background-position: -50px 0;
}

.icon-workshops .icon {
	background-position: -100px 0;
}

.icon-tickets .icon {
	background-position: -150px 0;
}

.icon-travel .icon {
	background-position: -200px 0;
}

.icon-testimonials .icon {
	background-position: -250px 0;
}

.icon-faq .icon {
	background-position: -300px 0;
}

.current .icon {
	background-position: 0 -50px;
}

.current.icon-schedule .icon {
	background-position: -50px -50px;
}

.current.icon-workshops .icon {
	background-position: -100px -50px;
}

.current.icon-tickets .icon {
	background-position: -150px -50px;
}

.current.icon-travel .icon {
	background-position: -200px -50px;
}

.current.icon-testimonials .icon {
	background-position: -250px -50px;
}

.current.icon-faq .icon {
	background-position: -300px -50px;
}

/** Site Inner
----------------------------------------------------------------------------- */
.site-inner .wrap {

}

.site-inner .content-sidebar-wrap {
	width: 826px;
	margin: 0 auto;
}

.site-inner .content {
	text-align: center;
}

.site-inner .entry-title {
	color: #00b7eb;
}

.site-inner p {
	line-height: 28px;
	line-height: 2.8rem;
}

/** Speakers
----------------------------------------------------------------------------- */
.speakers {
	background-color: #00b7eb;
	color: #0b0b0c;
	padding: 60px 0;
}

.speakers .wrap {
	max-width: 932px;
	/*margin: 60px 0;*/
}

.speakers .speaker-widget {
	max-width: 920px;
	margin: auto;
}

.speakers .widget {
	width: 230px;
	float: left;
	padding: 25px 0;
}

.speakers .widget:nth-child(4n+4) {
	float: right;
}

.speakers .widgettitle {
	font-size: 20px;
}

.speakers .iconicwidget {
	padding: 0 40px;
}

/** Agenda
----------------------------------------------------------------------------- */
.agenda {
	background-color: #f7f7f7;
	border-top: 1px solid #383b47;
	padding: 46px 0;
}

.agenda .wrap {
	max-width: 684px;
}

.agenda .headline {
	color: #00b7eb;
	margin-bottom: 0;
	margin-bottom: 12px;
	letter-spacing: -1px;
}

.agenda .venue {
	color: #00b7eb;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.agenda .etabs {
	border-bottom: 3px solid #00b7eb;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	list-style: none;
	overflow: hidden;
	clear: both;
}

.agenda .etabs li {
	display: inline-block;
	margin-left: 5px;
	*display: inline;
	width: 180px;
}

.agenda .etabs li a {
	color: #fff;
	padding: 20px 40px;
	background-color: #939598;
	font-weight: 700;
	display: block;
}

.agenda .etabs li.active a {
	background-color: #00b7eb;
}

.agenda .tabs {
	padding: 30px 100px;
}

.agenda .activity {
	list-style: none;
	margin: 0;
	padding: 0;
}

.agenda .activity li {
	border: 1px solid #00b7eb;
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 5px 0;
}

/*.agenda li:before,
.agenda li:after {
	clear: both;
	overflow: hidden;
}*/

.agenda span {
	color: #939598;
	float: left;
	width: 50%;
}

.agenda span:last-child {
	color: #ef2b2b;
	float: right;
}

/** Workshops
----------------------------------------------------------------------------- */
.workshops {
	background-color: #3a3a3a;
	padding: 66px 0;
	color: #fff;
}

.workshops .headline {
	color: #fff;
}

.workshops .workshop-widget {
	max-width: 720px;
	margin: auto;
}

.workshops .widget {
	width: 240px;
	padding: 30px 0;
	float: left;
}

.workshops .iconicwidget {
	padding: 0 30px;
}

.workshops .widgettitle {
	color: #fff;
}

.workshops .widget:nth-child(3n+3) {
	float: right;
}

/** Tickets
----------------------------------------------------------------------------- */
.tickets {
	background-color: #f7f7f7;
	padding: 56px 0;
}

.tickets .wrap {
	max-width: 940px;
}

#tickets-2.tickets {
	background-color: #00b7eb;
}

.tickets .widget {
	float: left;
	width: 620px;
}

.tickets .widget:first-child {
	text-align: left;
}

.tickets .widget:first-child .widgettitle {
	font-size: 40px;
	color: #00b7eb;
	margin-bottom: 0;
	text-transform: uppercase;
}

.tickets strong {
	color: #000;
}

.tickets .widget:last-child {
	float: right;
	width: 300px;
}

.tickets .register {
	background-color: #ea524e;
	color: #fff;
	display: block;
	font-size: 22px;
	font-weight: 700;
	padding: 22px;
	line-height: 1;
	margin: 24px auto 0;
	text-transform: uppercase;
	width: 180px;
}

#tickets-2 {
	color: #000;
}

#tickets-2 .headline,
#tickets-2 .widgettitle {
	color: #000;
}

/** Travel Accommodation
----------------------------------------------------------------------------- */
.travel-accommodation {
	background-color: #00b7eb;
	color: #fff;
	padding: 64px 0;
}

.travel-accommodation .headline {
	color: #fff;
}

.travel-accommodation-widget {
	clear: both;
	overflow: hidden;
	text-align: left;
	max-width: 840px;
	margin: auto;
	font-size: 14px;
}

.travel-accommodation-widget h5,
.travel-accommodation-widget p {
	margin-bottom: 12px;
	color: #fff;
}

.travel-accommodation-widget p {
	line-height: 18px;
}

.travel-accommodation-widget .widget {
	width: 410px;
	float: left;
}

.travel-accommodation-widget .widget.widget-last {
	float: right;
}
/** Testimonials
----------------------------------------------------------------------------- */
.testimonials {
	background-color: #fff;
	border-top: 1px solid #383b47;
	padding: 64px 0;
}

.testimonials .headline {
	color: #00b7eb;
}

.testimonials .testimonial-widget {
	max-width: 1020px;
	margin: auto;
}

.testimonials .widget {
	width: 500px;
	float: left;
	padding: 50px 0;
	position: relative;
}

.testimonials .widget:nth-child(2n+2) {
	float: right;
}

.testimonials .widgettitle {
	position: absolute;
	width: 100%;
	bottom: -20px;
	font-weight: 400;
	text-align: center;
	font-size: 20px;
	color: #00b7eb;
}

/** FAQ
----------------------------------------------------------------------------- */
.faq {
	background-color: #f7f7f7;
	border-top: 1px solid #383b47;
	padding: 68px 0;
}

.faq .wrap {
	max-width: 800px;
}

.faq .headline {
	color: #00b7eb;
}

.faq .widgettitle {
	color: #00b7eb;
	margin-bottom: 12px;
}

.faq .widget {
	margin-bottom: 24px;
}

/** Go To Top Button
----------------------------------------------------------------------- */
.gototop {
	width:50px;
    height:50px;
    opacity:0.75;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url('images/gototop.png') no-repeat;
}

.gototop:hover,
.gototop:focus {
	opacity: 1;
}

@media only screen and (max-width: 1079px) {
	.live-event .wrap {
		max-width: 940px;
	}
	.live-event .site-header {
		position: inherit;
	}
	.testimonials .widget {
		width: 460px;
	}
}

@media only screen and (max-width: 939px) {
	.live-event .wrap {
		max-width: 90%;
	}
	.title-area, .site-header .widget-area, .site-header .nav-header {
		float: none;
		margin-bottom: 12px;
		text-align: center;
		width: 100%;
	}
	.nav-header ul {
		text-align: center;
	}
	.nav-header li {
		float: none;
	}
	.nav-header a {
		padding: 0 12px;
	}
	.site-inner .content-sidebar-wrap {
		width: 100%;
	}
	.speakers .widget, .speakers .widget:nth-child(4n+4) {
		float: none;
		float: left;
		width: 50%;
	}
	.speakers .widget:nth-child(odd) {
		clear: both;
	}
	.workshops .widget, .workshops .widget:nth-child(3n+3) {
		float: none;
		float: left;
		width: 50%;
	}
	.workshops .widget:nth-child(odd) {
		clear: both;
	}
	.tickets .widget, .tickets .widget:last-child {
		float: none;
		margin-bottom: 24px;
		width: 100%;
	}
	.tickets .widget img {
		display: block;
	}
	.tickets .widget:last-child {
		text-align: center;
	}
	.travel-accommodation-widget .widget, .travel-accommodation-widget .widget.widget-last {
		float: none;
		text-align: center;
		width: 100%;
	}
	.testimonials .widget, .testimonials .widget:nth-child(2n+2) {
		float: none;
		padding: 0;
		margin-bottom: 24px;
		text-align: center;
		width: 100%;
	}
	.agenda .tabs {
		padding: 24px;
	}
	.nav-header a {
		padding: 0 4px;
	}
}
@media only screen and (max-width: 480px) {
	.speakers .widget, .speakers .widget:nth-child(4n+4) {
		float: none;
		width: 100%;
	}
	.live-event .headline {
		font-size: 24px;
	}
	.agenda .venue {
		font-size: 20px;
	}
	.agenda span, .agenda span:last-child {
		display: block;
		float: none;
		width: 100%;
	}
	.workshops .widget, .workshops .widget:nth-child(3n+3), .workshops .widget:nth-child(odd) {
		clear: none;
		float: none;
		width: 100%;
	}
	.live-event .more-link {
		width: auto;
	}
	.agenda .etabs li {
		width: auto;
	}
	.agenda .etabs li a {
		font-size: 14px;
		padding: 12px;
	}
	.ss-banner-1 .ss-banner .ss-banner-element-wrapper {
		display: block !important;
		font-size: 16px;
	}
}